<div class="container flex flex-col h-screen bg-slate-100 px-0">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="flex justify-between items-center bg-blue py-4 px-2">
      <%= link_to root_path do %>
        <span class="text-white" style="font-size:24px;">&#10229;</span>
      <% end %>
      <span class="uppercase text-white">register</span>
      <%= f.submit "Next", class: "text-white p-1 font-semibold" %>
    </div>
    <fieldset class="flex flex-col">
      <%= f.text_field :name, placeholder: "Full name", autofocus: true, required: true, class: "form-control rounded-0 shadow-none" %>
      <%= f.email_field :email, placeholder: "Email", autofocus: true, required: true, autocomplete: "email", class: "form-control rounded-0 shadow-none" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "Password", required: true, autocomplete: "new-password", class: "form-control rounded-0 shadow-none" %>
    </fieldset>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %> 
</div>