<h2 class="text-3xl font-semibold mb-4">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="">
    <%= f.label :email, class: "block text-gray-700 font-bold" %>
    <%= f.email_field :email,
                  autofocus: true,
                  autocomplete: "email",
                  class:
                    "w-80 p-2 border rounded-lg focus:outline-none focus:border-none" %>
  </div>

  <div class="mt-2">
    <%= f.submit "Send me reset password instructions",
             class:
               "bg-bermuda hover:bg-bermuda1 text-midnight border border-current py-2 px-4 rounded" %>
  </div>
  <div class="grid justify-items-start gap-y-1 p-0 mt-2">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
