<div class="container d-flex flex-column justify-content-between vh-100 bg-light px-0">  
  <%= form_with url: group_expenses_path, locale: true, method: :post  do |f| %>
    <div class="d-flex justify-content-between align-items-center header">
      <%= link_to group_expenses_path do %>
        <span class="bi bi-arrow-left" style="font-size:24px;"></span>
      <% end %>
      <span class="text-uppercase">New Transaction</span>
      <%= f.submit "Save", class: "btn text-white border-0" %>  
    </div>

    <fieldset class="mb-3">
      <%= f.text_field :name, placeholder: "Name", required: true, class: "form-control rounded-0 shadow-none" %>
      <%= f.number_field :amount, placeholder: "Amount", required: true, class: "form-control rounded-0 shadow-none" %>
      <div class= "form-control rounded-0 shadow-none gap-2">
      <%= f.label :group %>
        <%= f.select :group, current_user.groups.map { |c| [c.name, c.id] }, required: true, class: "border-0" %>
      <div>
      <%= f.hidden_field :author_id, value: current_user.id %>
    </fieldset>
  <% end %>  
</div>